Q1. How do you comment code in Python? What are the different types of comments?

Ans- the comment is that line to help programmer understand code. when during the exicution commeted lines are ignor by interpreter.  
using the Hash (#) can comment the line.
     there are three types of comments.
      1)single line(#)
      2)multiline ('''  ''')
      3) docstring ("""  """)

Q2. What are variables in Python? How do you declare and assign values to variables?

Ans- Variables that are store a value.Declare by specific alphabhetical word. assing in form string,int,float etc.

Q3. How do you convert one data type to another in Python?


Ans- using str(),float(), int()

Q4. How do you write and execute a Python script from the command line?

Ans- Start jupyter notebook write code and execute

Q5.Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
my_list = [1,2,3,4,5]
sub_list = my_list[1:3]
print (sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [2]:
l1 = 4-5j

In [3]:
type(l1)

complex

In [5]:
l1.real

4.0

In [8]:
l1.imag

-5.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [9]:
age = 25 
print(f"Age : {age}")

Age : 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [10]:
price = 9.99

In [11]:
price

9.99

In [12]:
type(price)

float

Q9.Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [13]:
name = "david jones"

In [14]:
name

'Ganesh Gadkari'

In [15]:
type("name")

str

Q10. Given the string "Hello, World!", extract the substring "World".

In [20]:
l1 = "Hello, World!"

In [21]:
len(l1)

13

In [22]:
l2 = l1[7:12]

In [23]:
l2

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [24]:
is_student = True

In [25]:
type(is_student)

bool