Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

(i) string

In [1]:
string = "xyz"
string

'xyz'

In [2]:
type(string)

str

(ii) list

In [3]:
list = [1,2,5,3,6,"xyz",99.99,True]
list

[1, 2, 5, 3, 6, 'xyz', 99.99, True]

In [4]:
type(list)

list

(iii) float

In [5]:
float = 23.65
float

23.65

In [6]:
type(float)

float

(iv) tuple

In [7]:
tuple = ("apple","banana","mango")
tuple

('apple', 'banana', 'mango')

In [8]:
type(tuple)

tuple

Q2.Given are some following variables containing data:
    (i) var1 = ‘ ‘
    (ii) var2 = ‘[ DS , ML , Python]’
    (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
    (iv) var4 = 1.
What will be the data type of the above given variable.

1. var1 = ‘ ‘

String

2) var2 = ‘[ DS , ML , Python]’

String

3) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]


List

4) var4 = 1.

Float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) / - division

In [9]:
2/4

0.5

(ii) % - Modulas

In [10]:
5%4

1

(iii) // - floor division

In [11]:
10//3

3

(iv) ** - exponentiation

In [12]:
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [13]:
my_list = [10, "Hello", 3.14, True, [1, 2, 3], {"name": "John", "age": 25}, (4, 5, 6), None, 5+2j, False]

for element in my_list:
    print(element, type(element))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'name': 'John', 'age': 25} <class 'dict'>
(4, 5, 6) <class 'tuple'>
None <class 'NoneType'>
(5+2j) <class 'complex'>
False <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [14]:
a = 24
b = 3
count = 0
while a % b == 0:
    a /= b
    count += 1
if count > 0:
    print(f"{a} is divisible by {b} and can be divided {count} times.")
else:
    print(f"{a} is not divisible by {b}.")

8.0 is divisible by 3 and can be divided 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [16]:
a = [1,2,3,5,18,4,8,9,7,5,34,67,45,67,35,86,53,89,35,23,12,16,54,98,65]
for i in a :
    if i % 3 == 0:
        print(f"{i} is divisible by 3.")
    else:
        print(f"{i} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
5 is not divisible by 3.
18 is divisible by 3.
4 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
7 is not divisible by 3.
5 is not divisible by 3.
34 is not divisible by 3.
67 is not divisible by 3.
45 is divisible by 3.
67 is not divisible by 3.
35 is not divisible by 3.
86 is not divisible by 3.
53 is not divisible by 3.
89 is not divisible by 3.
35 is not divisible by 3.
23 is not divisible by 3.
12 is divisible by 3.
16 is not divisible by 3.
54 is divisible by 3.
98 is not divisible by 3.
65 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data :
    Mutable data refers to a database structure in which data can be changed or modified. There are basically 3 mutable data types in Python: List, Dictionary, And Set.
Immutable data :
    Immutable data refers to a database structure in which data can not be changed or modified.

In [17]:
a = "Hello"
print(a)  # Output : Hello

a += " World"
print(a)  #Output : Hello World

Hello
Hello World

In [18]:
int = [1, 2, 3]
print(int)  # Output: [1, 2, 3]

int.append(4)
print(int)  # Output: [1, 2, 3, 4]

[1, 2, 3]
[1, 2, 3, 4]